# Binaries for programs and plugins
#*.exe
#*.exe~
#*.dll
#*.so
#*.dylib

# Test binary, built with `go test -c`
*.test

# Ignore Credential files
*.yml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore local builds
*.exe

# Dependency directories (remove the comment below to include it)
# vendor/
Connections*/
src/*
buildnotes.txt
testing.go